.hotspot-1{
    background-image: url(https://images.unsplash.com/photo-1513407030348-c983a97b98d8?ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80) !important;
    background-size: cover;
    background-position: center center;
    height: 150px;
}

.hotspot-2{
    background-image: url(https://images.unsplash.com/photo-1506480932912-dbbe35e3e516?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) !important;
    background-size: cover;
    background-position: center center;
    height: 150px;
}

.hotspot-3{
    background-image: url(https://images.unsplash.com/photo-1504619679259-7db48eb87a0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=840&q=80) !important;
    background-size: cover;
    background-position: center center;
    height: 150px;
}

.hotspot-4{
    background-image: url(https://images.unsplash.com/photo-1490077476659-095159692ab5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=733&q=80) !important;
    background-size: cover;
    background-position: center center;
    height: 150px;
}