.cart-position{
    position: fixed;
    right: 40px;
    bottom: 40px;
    cursor: pointer;
}

.cart-number-position{
    position: fixed;
    right: 40px;
    bottom: 85px;
    cursor: pointer;
    font-size: 120%;
    border-radius: 100%;
}
